.carousel {
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 77vh;
  background-color: #111;
}

.carousel-item {
  display: none;
  overflow: hidden;
  width: 100vw;
  height: 77vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dot1, .dot2, .dot3 {
  position:absolute;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  bottom: 3%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 10;
}

.dot1 {
  left: 48%;
}

.dot3 {
  left: 52%;
}

.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 20s;
  animation-name: fade;
  animation-duration: 20s;
}

@-webkit-keyframes fade {
  0% {opacity: 0}
  10%{opacity: 0.6}
  50% {opacity: 1}
  90%{opacity: 0.6}
  100% {opacity: 0}
}

@keyframes fade {
  0% {opacity: 0}
  10%{opacity: 0.6}
  50% {opacity: 1}
  90%{opacity: 0.6}
  100% {opacity: 0}
}

button.slider-left-arrow, button.slider-right-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: #bbb;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

button.slider-right-arrow {
  right: 0;
  border-radius: 3px 0 0 3px;
}

button.slider-left-arrow:hover, button.slider-right-arrow:hover {
  background-color: rgba(0,0,0,0.8);
}
.carousel-descr {
  display: none;
  position: absolute;
  background-color: rgba(239, 150, 98, 0.6);
  border-radius: 10px;
  left: 10%;
  top: 30%;
  width: 40%;
  height: auto;
  padding: 1rem;
}

.carousel-header {
  color: #f2f2f2;
  position: relative;
  font-size: 1.5rem;
}

.carousel-caption {
  color: #f2f2f2;
  position: relative;
  font-size: 1rem;
}

 .page-link {
  cursor: pointer;
  background-color: #333;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  margin: 1rem 0;

}

.active-slide {
  display: block;
}