* {
  box-sizing: border-box;
  color: #efefef;
  font-size: 14pt;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

body {
  margin: 0;
  background-color: black;
}

/* ---------- General text styles ---------- */
h1 {
  font-size: 1.5rem;
  color: #ef9662;
  text-shadow: 1px 1px 1px #111;
}

h2 {
  font-size: 1.2rem;
  color: #ef9662;
  text-shadow: 1px 1px 1px #111;
}

h3 {
  font-size: 1.1rem;
  color: #ef9662;
  text-shadow: 1px 1px 1px #111;
}

.nobr	{ white-space:nowrap; }

.caption-text {
  font-size: 0.8rem;
  padding: 2px 10px;
  font-style: italic;
}

/*  ----------- Background stars ----------- */
.star {
  position: fixed;
  width: 1px;
  height: 1px;
  background-color: white;
  z-index: -1;
}

/*  ----------- Header styling ----------- */
header#desktop-header {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

header#mobile-header {
  display:none;
  flex-direction: column;
  margin: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.mobile-site-head {
  display: flex;
  flex-direction: row;
  background-image: url(https://news.wttw.com/sites/default/files/field/image/MichioKaku_0226.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  width: 100%;
  padding: 0 5vw;
  height: 10vh;
}

a.mobile-site-title {
  text-decoration: none;
  width: 100%;
  font-size: 1.8rem;
  color: #efefef;
  margin: auto;
}

.site-head {
  display: flex;
  flex-direction: row;
  background-image: url(https://news.wttw.com/sites/default/files/field/image/MichioKaku_0226.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0 10vw;
  height: 17vh;
}

a.site-title {
  text-decoration: none;
  width: 100%;
  font-size: 2.5rem;
  color: #efefef;
  margin: auto;
}

/*  ----------- Site menu styling ----------- */
nav#desktop-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  background-color: #333;
  list-style-type: none;
}
nav#desktop-nav>ul {
  display: flex;
  flex-direction: row;
  padding-inline-start: 0 !important;
  list-style-type: none;
  margin: 0;
}

.droptop {
  overflow: hidden;
  cursor: default;
}

.navlink,
.droptop {
  padding: 14px 20px;
  font-size: 1rem;
  font-weight: bold;
  min-width: 11.67vw;
}

a.navlink {
  text-decoration: none;
}
.droptop {
  display: block;
  background-color: inherit;
}

a.navlink:hover,
.droptop:hover {
  background-color: #ef9662;
  color: white;
  text-decoration: none;
}

ul.dropdown-content {
  display: none;
  position: absolute;
  list-style-type: none;
  padding-inline-start: 0 !important;
  background-color: #333;
  min-width: 12vw;
  margin-left: -1rem;
  margin-top: 0.8rem;
}

.droptop:hover ul.dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
  font-size: 1.7rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content li {
  width: 100%;
  height: 100%;
  padding: 0.7rem 1rem;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content li:hover {
  color: #333;
}

header + main {
  padding-top: 180px;
}

/*  ----------- Main and content styling ----------- */
main {
  height: 100%;
  z-index: -1;
  margin-bottom: 50px;
}

.content {
  margin: 0px 15%;
  min-height: 100vh;
  background-color: rgba(192, 192, 192, 0.651);
  padding: 2vh 2vw;
}

.content p, p > span {
  color: #111;
}

/*  ----------- Weather toggle in header ----------- */

/* The switch - the box around the slider */
.temp-toggle {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  height: 3vh;
  width: 6rem;
}

.temp-toggle::after {
  position: absolute;
  content: "Change temp.";
  color: #333;
  font-size: 0.6rem;
  font-style: italic;
  height: 16px;
  width: 20rem;
  left: 1.2rem;
  bottom: -0.7rem;
}

.temp-label {
  position: relative;
  margin: 0rem 0rem 0rem 0.8rem;
  color: #333;
}
label.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.2rem;
}

/* Hide default HTML checkbox */
label.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider toggle*/

.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border: 2px solid #ef9662;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ef9662;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ef9662;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/*  ----------- Subpage styling ----------- */


/*  ----------- Footer styling ----------- */
footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  z-index: 10;
}

/*  ----------- MEDIA STYLING ----------- */

@media only screen and (max-width: 600px) {
  header#desktop-header {
    display: none;
  }
  
  header#mobile-header {
    display:flex;
    z-index: 10;
  }

  nav#mobile-nav {
    list-style-type: none;
  }
  nav#mobile-nav>ul {
    padding-inline-start: 0 !important;
    list-style-type: none;
    margin: 0;
  }

  header + main {
    padding-top: 120px;
  }

  .content {
    margin: 0px 2%;
    min-height: 100vh;
    background-color: rgba(192, 192, 192, 0.651);
    padding: 2vh 2vw;
  }

  .site-title {
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .home-logo {
    width: 50px;
    height: 50px;
    background-size: cover;
    margin: 0;
  }

  .temp-toggle {
    margin: 0.7rem;
  }

  .temp-toggle::after {
    font-size: 0.6rem;
    bottom: -1rem;
    left: 1.7rem;
  }

  .temp-label {
    font-size: 0.8rem;
  }

  label.switch {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.2rem;
  }

  .slider {
    width: 111%;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }

  footer {
    height: 10vh;
    padding: 5px;
  }

  footer p {
    margin-top: 0.2rem;
    font-size: 0.5rem;
  }
}
