.dataTable {
    display:flex;
    flex-direction: row;
    border: 2px solid rgb(51, 51, 51, 0.6);
    border-radius: 10px;
    background-color: rgb(51, 51, 51, 0.6)
}

.dataTable li {
    display: block;
    padding: 15px;
    text-align: left;
    margin: auto;
    width: 22%;
  }

  .dataTable li p {
    color: #fff;

}

.leading-content {
    display: inline-block;
    position: relative;
    width: 100%;
}
.leading-content img {
    width: 40%;
    height: auto;
    margin: 1rem 0 1rem 1rem;
    float: right;
}

.leading-content p {
    margin: 0 1rem 1rem 0;
    
}

.image-gallery-wrapper {
    position: relative;
    width: 100%;
}

.image-gallery {
    width: 100%;
    position: relative;
}

.rover-image-lrg img {
    display: none;
    width: 100%;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
    width: 16.66%;
  }

  .column img{
    width: 100%;
  }

  .thumbnail {
    opacity: 0.6;
  } 

.active,
.thumbnail:hover {
  opacity: 1;
}
